

/* .bkgGray {
  background-color: #ccc;
}
 */

.msgInput{
  margin-left:10px;
}

.msgInput{
  background-color: white;
  border-radius: 25px;
  margin-right: 0!important;
}

.msgInput div div {
  background-color: white;
}

.typingIndicator {
  padding-left: 40px;
  color: #0b4c46,
}

.typingIndicator  div:first-child div{
  color: #0b4c46,
}

.typingIndicator  div:last-child div{
  color: #0b4c46,
}