body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

section.bkg-gray > div.cs-message__content-wrapper > div.cs-message__content {
  background-color: '#ccc';
}

section.bkg-green > div.cs-message__content-wrapper > div.cs-message__content {
  background-color: '#0b4c46';
}
